/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status
/kubeconfig
/cluster_config.yaml
/token
dist/hetzner-k3s.jar
dist/hetzner-k3s

/lib/
/bin/
/.shards/
*.dwarf
hetzner-k3s
k3s-releases.yaml
actions-runner
/.idea/
.DS_Store
.env.vars
.zsh_history
temp
docker-compose.override.yml
cilium
calicoctl

e2e-tests/env
e2e-tests/sshkey*
e2e-tests/test-*
create.log
delete.log
