/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status
/kubeconfig
/cluster_config.yaml
dist/hetzner-k3s.jar
dist/hetzner-k3s

/docs/
/lib/
/bin/
/.shards/
*.dwarf
hetzner-k3s
k3s-releases.yaml
actions-runner
/.idea/
