{
    acme_ca https://acme-v02.api.letsencrypt.org/directory
    email   mail@example.com
}

example.com {
    reverse_proxy app:4567

    log {
        output file /var/log/caddy/access.log
        format json
    }

    encode gzip
}

